<div class="card border-primary mb-3">
  <div class="card-header">Categorias</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Categorias</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/categorias/form']">Crear Categorias</button>
    </div>
    <div class="my-2 text-let">
    </div>
    <div *ngIf="categoria?.length == 0" class="alert alert-info">
      No hay registros en la base de datos
    </div>
    <table class="table table-bordered table-striped" *ngIf="categoria?.length > 0">
      <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Estado</th>
        <th>
          Editar
        </th>
        <th>
          Eliminar
        </th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of categoria">
        <td>{{c.id_categoria}}</td>
        <td>{{c.nombre}}</td>
        <td>{{c.estado}}</td>
        <td>
          <button type="button" name="editar" [routerLink]="['/categorias/form', c.id_categoria]" class="btn btn-primary">Editar</button>
        </td>
        <td>
          <button type="button" name="eliminar" (click)="delete(c)" class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
