<div  class="card border-success border-3 mb-3">
    <!--  <div class="card-header text-primary">Teléfonos</div>-->
    <div class="card-body text-dark">
<!--      <h5 class="card-title">Nuestros Modelos</h5>-->
      <div class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active img">
            <img src="/assets/img/samsung.jpg"  height="500px" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/iphone.jpg" height="500px" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/huawei.jpg"  height="500px" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>


  <div class="row" >

    <div class="col-3" *ngFor="let p of producto">
      <div class="card h-100">
        <img src="/assets/img/{{p.url_imagen}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{p.nombre}}</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum iste est sapiente inventore, nostrum enim. Quasi atque ut maxime unde, asperiores, nam sapiente, aliquid optio minus laboriosam eveniet eligendi voluptate!</p>
          <button type="button" class="btn btn-info">Agregar al carrito</button>
        </div>
      </div>
    </div><br>
  </div>


